.header {
  position: relative;
}

.layers {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    z-index: 900;
    bottom: calc(var(--index) * -4.5);
    width: 100%;
    height: calc(var(--index) * 10);
    background-image: url(../img/ground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__header {
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    position: relative;
    z-index: 1;
    color: var(--text);
    will-change: transform;
    font-family: 'raleway_f';
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 0 0 15px var(--shadow);
    margin-top: calc(var(--index) * -.75);
    transition: var(--default-cubic);

    &-caption {
      font-size: calc(var(--index) / 1.175);
      letter-spacing: calc(var(--index) / 3.5);
    }

    &-title {
      font-size: calc(var(--index) * 2.5);
      letter-spacing: calc(var(--index) / 2.25);
    }
  }

  &__base {
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    z-index: 0;
    transition: var(--default-cubic);
  }

  &__midle {
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
    z-index: 2;
    transition: var(--default-cubic);
  }

  &__front {
    transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
    z-index: 2;
    transition: var(--default-cubic);
  }
}


.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  will-change: transform;
}

.main-article {
  position: relative;
  z-index: 5;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    color: var(--text);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-head {
      text-transform: uppercase;
      font-size: calc(var(--index) * 1.8);
      letter-spacing: calc(var(--index) / 7.5);
      transform: translate3d(0, calc(var(--scrollTop) / -10),0);
      will-change: transform;
      transition: var(--default-cubic);
    }

    &-p {
      max-width: calc(var(--index) * 30);
      font-size: calc(var(--index) * .9);
      margin-top: calc(var(--index) / 1.25);
      transform: translate3d(0, calc(var(--scrollTop) / -10),0);
      will-change: transform;
      transition: var(--default-cubic);
    }

    &-copy {
      position: absolute;
      bottom: calc(var(--index) * 2.5);
      opacity: .45;
      font-size: calc(var(--index) * .75);
      letter-spacing: calc(var(--index) / 37.5);
    }
  }
}

.content {
  will-change: transform;
}
