<header class="header">
  <div class="layers">
    <div class="layers__header">
      <div class="layers__header-caption">Welcome to Parallax</div>
      <div class="layers__header-title">Fairy Forest</div>
    </div>
    <div class="layer layers__base" style="background-image: url(./img/layer-base.png);"></div>
    <div class="layer layers__midle" style="background-image: url(./img/layer-middle.png);"></div>
    <div class="layer layers__front" style="background-image: url(./img/layer-front.png);"></div>
  </div>
</header>

<article class="main-article" style="background-image: url(./img/dungeon.jpg);">
  <div class="main-article__content">
    <h2 class="main-article__content-head">To be continued</h2>
    <p class="main-article__content-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="main-article__content-copy"><a>© Yuuta Segawa</a></div>
  </div>
</article>
